<div *ngIf="componentExists && movie">
  <h1>Editing {{ movieTitle }}</h1>
</div>
<div *ngIf="!componentExists">
  <h1>Creating new Movie</h1>
</div>

<!-- Edit form voor user model -->

<form #movieEditForm="ngForm" name="form" (ngSubmit)="onSubmit()" novalidate>
  <div class="row">
      <div class="col-5">
          <!-- firstname -->
          <div class="form-group">
              <label for="firstname">Title</label>
              <input
                  type="text"
                  name="firstname"
                  class="form-control"
                  [(ngModel)]="movie!.title"
                  #firstname="ngModel"
              />
          </div>
      </div>
      <div class="col-7">
          <!-- lastname -->
          <div class="form-group">
              <label for="year">Year</label>
              <input
                  type="text"
                  name="year"
                  class="form-control"
                  [(ngModel)]="movie!.year"
                  #lastname="ngModel"
              />
          </div>
      </div>
  </div>

  <!-- Submit en Cancel buttons -->
  <div class="row py-3">
      <div class="col">
          <button
              type="submit"
              class="btn btn-primary mx-2"
              [disabled]="!movieEditForm.valid"
          >
              Submit
          </button>
          <button class="btn btn-warning mx-2" routerLink="..">Cancel</button>
      </div>
  </div>
</form>

<pre
  >{{ movie | json }}
</pre>