<div class="a-component">
    <div class="row">
        <div class="col">
            <h1>User List</h1>
        </div>
        <div class="col text-end">
            <button type="button" class="btn btn-primary" routerLink="new">
                New User
            </button>
        </div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Gender</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users; let i = index">
                <th scope="row">{{ i }}</th>
                <td>{{ user.id }}</td>
                <td>
                    <a
                        routerLink="{{ user.id }}"
                        routerLinkActive="active"
                        ariaCurrentWhenActive="page"
                        >{{ user.firstName }} {{ user.lastName }}</a
                    >
                </td>
                <td>{{ user.gender }}</td>
            </tr>
        </tbody>
    </table>
</div>