<div class="row">
    <div class="col-sm-6 col-md-8 col-lg-9">
        <h3 id="aboutTitle">Over deze applicatie</h3>
        <p>
            Deze applicatie is gemaakt in het kader van het vak 'Clientside web
            frameworks' van Avans Hogeschool Breda.
        </p>
        <h1>Movie app</h1>
        <p>
            Hier beschrijft je wat je project inhoudt. Beschrijf ook de
            entiteiten/domeinobjecten die je gebruikt, en benoem per entiteit de
            attributen met hun datatype.
        </p>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="card">
            <div
                class="d-flex justify-content-center align-items-center px-3 py-3"
            >
                <!-- Je mag een foto van jezelf toevoegen, maar dat is niet verplicht. -->
                <img
                    src="assets/images/person.png"
                    class="card-img-top rounded-circle border profile-pic px-4 py-4"
                    alt="..."
                />
            </div>
            <div class="card-body">
                <h5 class="card-title">Sanne van Eck</h5>
                <p class="card-text">Studentnummer: 2184233</p>
            </div>
        </div>
    </div>
</div>

<h3>Entiteiten</h3>
<p>
    Er zijn 2 entiteiten volgens de deelopdracht. Deze entiteiten zijn User en Movie.
    In de Angular web app kan je verschillende users aanmaken en bekijken. Hier zijn Users voor nodig.
    Hetzelfde geldt voor Movies.
    Zie hieronder de User en Movie entiteit met toepassend plaatje.
</p>

<img src="assets/images/angular-movie-erd.png" class="px-5 py-5" alt="..." />

<div class="row">
    <div class="col-sm-12 col-md-4">
        <p>User</p>
        <ul>
            <li>id: string</li>
            <li>firstName: string</li>
            <li>lastName: string</li>
            <li>emailAddress: string</li>
            <li>gender: Gender</li>
            <li>birthDate: Date</li>
        </ul>
    </div>
    <div class="col-sm-12 col-md-4">
        <p>Movie</p>
        <ul>
            <li>_id: string</li>
            <li>title: string</li>
            <li>year: int</li>
            <li>rated: string</li>
            <li>released: Date</li>
            <li>runtime: int</li>
            <li>countries: Array</li>
            <li>genred: Array</li>
            <li>director: string</li>
            <li>actors: Array</li>
            <li>writers: Array</li>
            <li>plot: string</li>
            <li>poster: string</li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col">
        <h3>Userstories</h3>
        <p>
            Hier verwoord je in de vorm van userstories de functionaliteit van
            jouw applicatie.
        </p>

        <table class="table table-bordered">
            <thead>
                <th>Nr</th>
                <th class="col-6">Userstory</th>
                <th>Evt toelichting</th>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>
                        Als gebruiker wil ik een overzicht van movies kunnen
                        raadplegen, zodat ik kan zien welke movies op dit moment
                        beschikbaar zijn.
                    </td>
                    <td>Overzicht is een grid.</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>
                        Als ingelogde gebruiker wil ik zelf een movie kunnen
                        toevoegen, zodat ik mijn movies in het systeem kan
                        invoeren.
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>
                        Als ingelogde gebruiker wil ik mijn eigen movies kunnen
                        bewerken en verwijderen, zodat ik mijn informatie
                        up-to-date kan houden.
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>
                        <p>Voeg zelf meer userstories toe.</p>
                    </td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
